* {
    margin: 0;
    padding: 0;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 50);
}

.navbar {
    
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    
    border-radius: 10px; 
}

.navbar-nav .nav-link {
    color: rgb(0, 0, 0); 
    background-color: rgba(255, 255, 255, 0); 
    padding: 10px;
    margin: 5px;
    border-radius: 5px; 
}

.navbar-toggler-icon {
    background-color: #ffffff;
    border-radius: 5px; 
}

.nav-item {
    list-style-type: none;
    text-align: center;
}



.btn-primary {
    background-color: rgb(0, 0, 128);
    border-color: blue;
}

.logo-smdi {
    max-width: 150px;
    padding-left: 10px;
}

.logo-track {
    width: 1100px; 
    vertical-align: middle;
    margin-bottom: 15px;
}

main.container {
    margin: 50px auto 10px; 
    padding: 55px;
    border-radius: 10px; 
    overflow: hidden; 
    padding-top: 80px; 
}

.transaction-section {
    background-color: rgba(255, 255, 255, 0.621);
    margin: 0 auto; 
    padding: 50px;
    max-width: 1300px;
}

.transaction-heading {
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    color: #000000;
    text-transform: uppercase;
}

.transaction-heading h1 {
    font-size: 56px;
}

.transaction-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.transaction-card {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.253), rgba(0, 110, 255, 0.253));
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 20px rgba(29, 80, 247, 0.548);
    width: calc(33.33% - 40px); 
    max-width: 300px; 
    text-align: center;
}

.transaction-name {
    font-size: 24px;
    color: #000000;
}

.transaction-position {
    font-size: 18px;
    color: #fff;
}

.transaction-card .transaction-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-right: 10px;
}

form {
    margin-left: auto;
}

.card-icon {
    max-width: 100px; 
    margin-bottom: 15px;
}


.transaction-heading .logo-small {
    width: 350px; 
    max-width: 150%; 
}
 


@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.logo-track {
    max-width: 200px;
    opacity: 0;
}

.transaction-heading h1{
    opacity: 0;
}

.transaction-heading h4{
    opacity: 0;
}


.transaction-card {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.transaction-card.show {
    opacity: 1;
    transform: translateY(0);
}
